# Intellij
*.iml
.idea
.idea/*
*.iws
META-INF/*
META-INF
out/*
out

# Maven
*/target
*target*
log/

/classes
.project
.settings/*

/bin

# Mac
.DS_Store

# Eclipse
.classpath

# Latex
*.toc
*.out
*.log
*.aux
*.pdf
